In [308]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense
import numpy as np

In [309]:
df = pd.read_csv('data.csv')
df

,anorexia,muntah,lemah,kurang_respon,dehidrasi,demam,diare,hipersevalis,radang_telinga,batuk,hidung_meler,gatal,telinga_keropeng,pilek,bersin2,mata_berair,penyakit
0,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,panleukopenia
1,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,panleukopenia
2,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,panleukopenia
3,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,panleukopenia
4,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,panleukopenia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,fcv
246,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,fcv
247,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,fcv
248,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,fcv
249,0,0,0,0,0,0,0,1,0,1,1,0,0,0,0,0,fcv

In [310]:
# penyakit = pd.get_dummies(df.penyakit)
# penyakit

In [311]:
# new_df = pd.concat([df, penyakit], axis=1)
# new_df = new_df.drop(columns="penyakit")
# new_df
# new_df.info()

In [312]:
# dataset = df.values
# dataset

In [313]:
attributes = np.array(df[['anorexia','muntah','lemah','kurang_respon','dehidrasi','demam','diare','hipersevalis','radang_telinga','batuk','hidung_meler','gatal','telinga_keropeng','pilek','bersin2','mata_berair']])
lables = np.array(df['penyakit'])

# print(f'Attributes:\n{attributes}\n')
# print(f'Lables:\n{lables}\n')

In [314]:
from sklearn.preprocessing import LabelBinarizer
lb = LabelBinarizer()
new_lables = lb.fit_transform(lables)
# print(f'new_lables:\n{Y_train}')

In [315]:
# Y_train = new_lables.flatten()
# print(f'news_lables: {Y_train}')

In [316]:
X_train, X_test, y_train, y_test = train_test_split(attributes, new_lables, test_size=0.2)

In [317]:
from sklearn.neighbors import KNeighborsClassifier
K=3
model = KNeighborsClassifier(n_neighbors=K)
model.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [318]:
anorexia = 0
muntah = 0
lemah = 0
kurang_respon = 0
dehidrasi = 0
demam = 1
diare = 1
hipersevalis = 1
radang_telinga = 1
batuk = 1
hidung_meler = 1
gatal = 1
telinga_keropeng = 1
pilek = 1
bersin2 = 1
mata_berair = 1
X_new = np.array([anorexia,muntah,lemah,kurang_respon,dehidrasi,demam,diare,hipersevalis,radang_telinga,batuk,hidung_meler,gatal,telinga_keropeng,pilek,bersin2,mata_berair]).reshape(1, -1)
X_new

array([[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])

In [319]:
y_new = model.predict(X_new)
y_new

array([[0, 1, 0, 0]])

In [320]:
lb.inverse_transform(y_new)

array(['fcv'], dtype='<U13')

In [321]:
y_pred = model.predict(X_test)

In [322]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test, y_pred)

print(f'Accuracy: {acc}')

Accuracy: 0.96

In [323]:
# from sklearn.metrics import precision_score
# prec = precision_score(y_test, y_pred)

# print(f'Precision: {prec}')

In [324]:
# from sklearn.metrics import recall_score
# rec = recall_score(y_test, y_pred)

# print(f'Recall: {rec}')

In [325]:
# from sklearn.metrics import f1_score
# f1 = f1_score(y_test, y_pred)

# print(f'F1_score: {f1}')

In [326]:
from sklearn.metrics import classification_report

cls_report = classification_report(y_test, y_pred)
print(f'Classification Report: \n{cls_report}')

Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         2
           1       1.00      0.50      0.67         4
           2       0.94      1.00      0.97        16
           3       0.97      1.00      0.98        28

   micro avg       0.96      0.96      0.96        50
   macro avg       0.98      0.88      0.90        50
weighted avg       0.96      0.96      0.95        50
 samples avg       0.96      0.96      0.96        50

In [327]:
# from sklearn.metrics import matthews_corrcoef
# mcc = matthews_corrcoef(y_test, y_pred)

# print(f'MCC: {mcc}')